[INFO] 13:20:24:574 Planificador/(10891:10891): Iniciando proceso planificador
[INFO] 13:20:24:585 Planificador/(10891:10891): Leyendo Archivo de Configuracion
[INFO] 13:20:24:587 Planificador/(10891:10891): Lectura de variables del archivo de configuracion
[INFO] 13:20:24:601 Planificador/(10891:10891): Archivo de Configuracion Leido correctamente
[INFO] 13:20:24:620 Planificador/(10891:10898): Dentro del hilo conexion a cpu
[INFO] 13:20:40:733 Planificador/(10891:10898): CPU conectado
[INFO] 13:20:40:736 Planificador/(10891:10898): Cierro conexion con CPU
