[INFO] 23:47:56:612 Planificador/(10321:10321): Iniciando proceso planificador
[INFO] 23:47:56:631 Planificador/(10321:10321): Leyendo Archivo de Configuracion
[INFO] 23:47:56:633 Planificador/(10321:10321): Lectura de variables del archivo de configuracion
[INFO] 23:47:56:639 Planificador/(10321:10321): Archivo de Configuracion Leido correctamente
[INFO] 23:47:56:640 Planificador/(10321:10321): Se inicializaron las listas y los semaforos 

[INFO] 23:47:56:661 Planificador/(10321:10327): Dentro del hilo conexion a cpu
[INFO] 23:47:56:665 Planificador/(10321:10327): Escuchando conexiones 
 
[INFO] 23:48:06:421 Planificador/(10321:10327): Escuchando conexiones 
 
[INFO] 23:48:16:618 Planificador/(10321:10327): Escuchando conexiones 
 
[INFO] 23:48:16:620 Planificador/(10321:10327): Cierro conexion con CPU
[INFO] 23:48:16:621 Planificador/(10321:10327): Escuchando conexiones 
 
