[INFO] 15:40:14:515 Planificador/(9237:9237): Iniciando proceso planificador
[INFO] 15:40:14:518 Planificador/(9237:9237): Leyendo Archivo de Configuracion
[INFO] 15:40:14:518 Planificador/(9237:9237): Lectura de variables del archivo de configuracion
[INFO] 15:40:14:536 Planificador/(9237:9237): Archivo de Configuracion Leido correctamente
[INFO] 15:40:14:537 Planificador/(9237:9237): Se inicializaron las Listas de planificacion 

[INFO] 15:40:14:539 Planificador/(9237:9237): Se inicializaron los semaforos 

[INFO] 15:40:14:557 Planificador/(9237:9242): Dentro del hilo conexion a cpu
[INFO] 15:40:14:570 Planificador/(9237:9242): Escuchando conexiones 
 
[INFO] 15:40:39:633 Planificador/(9237:9243): PID creado 1 , path simple.cod 

[INFO] 15:47:12:360 Planificador/(9237:9243): PID creado 2 , path simple.cod 

[INFO] 15:52:59:506 Planificador/(9237:9242): Escuchando conexiones 
 
