[INFO] 18:04:26:746 Planificador/(2650:2650): Iniciando proceso planificador
[INFO] 18:04:26:747 Planificador/(2650:2650): Leyendo Archivo de Configuracion
[INFO] 18:04:26:747 Planificador/(2650:2650): Lectura de variables del archivo de configuracion
[INFO] 18:04:26:747 Planificador/(2650:2650): Archivo de Configuracion Leido correctamente
[INFO] 18:04:26:747 Planificador/(2650:2650): Se inicializaron las Listas de planificacion 

[INFO] 18:04:26:747 Planificador/(2650:2650): Se inicializaron los semaforos 

[INFO] 18:04:26:747 Planificador/(2650:2651): Dentro del hilo conexion a cpu
[INFO] 18:04:26:747 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:04:40:279 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:04:45:411 Planificador/(2650:2652): PID creado 1 , path mem.cod 

[INFO] 18:04:45:411 Planificador/(2650:2654): Envio de pedido de ejecucion PID 1 a la cpu libre 1 

[INFO] 18:04:45:411 Planificador/(2650:2654): Envio exitoso de contexto PID 1 a la cpu libre 1 

[INFO] 18:04:49:418 Planificador/(2650:2651): Fin de quantum CPU 
[INFO] 18:04:49:418 Planificador/(2650:2651):  actualiza prox instrucción: 3

[INFO] 18:04:49:418 Planificador/(2650:2651):  semaforo listos valor: 0

[INFO] 18:04:49:418 Planificador/(2650:2654): Envio de pedido de ejecucion PID 1 a la cpu libre 1 

[INFO] 18:04:49:418 Planificador/(2650:2654): Envio exitoso de contexto PID 1 a la cpu libre 1 

[INFO] 18:04:49:418 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:04:52:424 Planificador/(2650:2651): Fin de quantum CPU 
[INFO] 18:04:52:462 Planificador/(2650:2651):  actualiza prox instrucción: 6

[INFO] 18:04:52:462 Planificador/(2650:2651):  semaforo listos valor: 0

[INFO] 18:04:52:462 Planificador/(2650:2654): Envio de pedido de ejecucion PID 1 a la cpu libre 1 

[INFO] 18:04:52:462 Planificador/(2650:2654): Envio exitoso de contexto PID 1 a la cpu libre 1 

[INFO] 18:04:52:462 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:04:55:469 Planificador/(2650:2651): Fin de quantum CPU 
[INFO] 18:04:55:506 Planificador/(2650:2651):  actualiza prox instrucción: 9

[INFO] 18:04:55:506 Planificador/(2650:2651):  semaforo listos valor: 0

[INFO] 18:04:55:506 Planificador/(2650:2654): Envio de pedido de ejecucion PID 1 a la cpu libre 1 

[INFO] 18:04:55:506 Planificador/(2650:2654): Envio exitoso de contexto PID 1 a la cpu libre 1 

[INFO] 18:04:55:506 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:04:58:513 Planificador/(2650:2651): Fin de quantum CPU 
[INFO] 18:04:58:550 Planificador/(2650:2651):  actualiza prox instrucción: 12

[INFO] 18:04:58:550 Planificador/(2650:2651):  semaforo listos valor: 0

[INFO] 18:04:58:550 Planificador/(2650:2654): Envio de pedido de ejecucion PID 1 a la cpu libre 1 

[INFO] 18:04:58:550 Planificador/(2650:2654): Envio exitoso de contexto PID 1 a la cpu libre 1 

[INFO] 18:04:58:550 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:05:40:279 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:06:40:280 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:07:40:280 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:08:40:280 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:09:40:281 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:10:40:281 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:11:40:282 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:12:40:282 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:13:40:283 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:14:40:284 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:15:40:284 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:16:40:285 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:17:40:285 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:18:40:286 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:19:40:286 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:20:40:287 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:21:40:288 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:22:40:288 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:23:40:289 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:24:40:290 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:25:40:291 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:26:40:291 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:27:40:292 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:28:40:292 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:29:40:293 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:30:40:294 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:31:40:294 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:32:40:295 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:33:40:296 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:34:40:297 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:35:40:297 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:36:40:298 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:37:40:299 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:38:40:300 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:39:40:300 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:40:40:301 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:41:40:302 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:42:40:302 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:43:40:303 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:44:40:304 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:45:40:305 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:46:40:305 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:47:40:305 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:48:40:306 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:49:40:307 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:50:40:307 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:51:40:308 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:52:40:308 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:53:40:309 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:54:40:309 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:55:40:310 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:56:40:310 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:57:40:311 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:58:40:312 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 18:59:40:313 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:00:40:314 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:01:40:314 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:02:40:315 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:03:40:316 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:04:40:316 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:05:40:317 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:06:40:318 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:07:40:318 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:08:40:318 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:09:40:319 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:10:40:319 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:11:40:320 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:12:40:320 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:13:40:321 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:14:40:321 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:15:40:322 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:16:40:323 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:17:40:324 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:18:40:325 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:19:40:325 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:20:40:326 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:21:40:327 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:22:40:328 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:23:40:329 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:24:40:330 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:25:40:330 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:26:40:330 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:27:40:332 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:28:40:332 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:29:40:333 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:30:40:333 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:31:40:334 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:32:40:334 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:33:40:335 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:34:40:336 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:35:40:337 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:36:40:337 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:37:40:338 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:38:40:338 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:39:40:338 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:40:40:339 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:41:40:339 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:42:40:340 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:43:40:340 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:44:40:341 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:45:40:341 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:46:40:342 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:47:40:342 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:48:40:343 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:49:40:344 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:50:40:344 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:51:40:345 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:52:40:345 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:53:40:346 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:54:40:347 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:55:40:348 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:56:40:349 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:57:40:349 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:58:40:350 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 19:59:40:350 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 20:00:40:351 Planificador/(2650:2651): Escuchando conexiones 
 
[INFO] 20:01:40:351 Planificador/(2650:2651): Escuchando conexiones 
 
